:root {
    --gray1: #666A86;
    --gray2: #D7DAE5;
    --yellow: #EEC170;
    --green1: #62A87C;
    --green2: #254D32;
    --dark-blue: #003759;
    --light-blue: #b5e9ff;
}

body {
    font-family: "Roboto", serif;
    background-color: var(--gray2);
    background-size: cover;
    width: auto;
    overflow-x: hidden;
    margin: 0px;
}

#logo {
    display: block;
    width: 300px;
    margin: auto;
    position: relative;
    top: 20px;
}

@keyframes fadeStars {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

#stars {
    position: relative;
    top: -60px;
    width: 100%;
    animation-name: fadeStars;
    animation-duration: 4s;
    opacity: 0.0;
}

@keyframes wind {
    from {left: -16%}
    to {left: 100%}
}

.cloud {
    position: absolute;
    display: inline;
    width: 200px;
    animation-name: wind;
    animation-duration: 150s;
    animation-iteration-count: infinite;
}

#cloud1 {
    top: 150px;
}

#cloud2 {
    top: 200px;
    animation-delay: 40s;
    position: absolute;
    left: -200px;
}

#bg {
    position: relative;
    top: -100px;
    width: 100%;
}

@keyframes sunrise {
    0% {background-color: var(--dark-blue);}
    5% {background-color: var(--dark-blue);}
    100% {background-color: var(--light-blue);}
}

nav {
    background-color: var(--light-blue);
    animation-name: sunrise;
    animation-duration: 1s;
    width: 100%;
    display: inline-block;
    font-weight: 700 !important;
    padding-top: 10px;
}

nav ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    float: left;
}

nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: var(--green1);
    color: var(--gray2);
}

nav a:hover {
    background-color: var(--green2);
}

/* .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}


.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;

}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}*/
