p, h1, h2, h4, h5, h6, button {
    font-family: "Tahoma", serif;
}

body {
    background-color: #666A86;
    text-align: center;
}

body h1 {
    font-size: 100px;
    color: white;
    width: 30%;
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.project {
      /* height: 50%;*/
      height: auto;
      display: inline-block;
      width: 65%;
      top: 0px;
      /* margin-left: 2.5%; */
      margin-bottom: 2.5%;
      background-color:#D7DAE5;
      text-align: left;
      border: 10px solid;
      border-color: #62A87C;
      border-radius: 20px;
}

.project h2 {
      font-size: 50px;
      font-weight: 700;
      color: #254D32;
      margin-left: 20px;
      margin-bottom: 0px;
}

.project h3 {
      font-family: "Verdana";
      font-size: 25px;
      font-weight: 500;
      color: white;
      margin-left: 25px;
      margin-top: 0px;
}

.project li {
      font-size: 25px;
      font-weight: 500;
      color: black;
      margin-left: 20px;
      margin-right: 20px;
      padding: 5px;
}

@keyframes moving_blocks {
      from {margin-left: -50px;}
      to {margin-left: 2.5%;}
}

.picture img {
      margin-left: 2.5%;
      margin-right: 2.5%;
      height: auto;
      width: 22.5%;
      overflow: hidden;
      animation-name: moving_blocks;
      animation-duration: 1s;
      border: 1px solid;
      border-color: #EEC170;
}

.group {
      width: 100%;
}

nav {
    background-color: #666A86;
    width: 100%;
    display: inline-block;
    font-weight: 700 !important;
    padding-top: 10px;
}

nav ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    float: left;
}

nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: var(--green1);
    color: white;
    text-decoration: underline;
    text-decoration-color: #EEC170;
}

nav a:hover {
    background-color: var(--green2);
}
