<!DOCTYPE html>
<html lang="en">

<link lang='sass' rel="stylesheet" href="./static/styles/projects.css">

<body>
    {% for proj in projs %}
    <div class='group'>
        <div class='picture'>
            <img src= {{proj['img'][0]}} alt={{proj['img'][1]}} style="float: left;">
        </div>
        <div class='project'>
            <h1>{{proj['name']}}</h1>
            <h2>{{proj['date']}} | github </h2>
            {% for x in proj['descrip'] %}
              <h3><li>{{x}}</li></h3>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</body>
