<!DOCTYPE html>
<html lang="en">

<!--<link lang='sass' rel="stylesheet" href="/static/styles/contact.css">
-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>

  <header>
        <h1>Register</h1>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        </div>

        <p> Please enter your information below. </p>
        <form>
              <input type="text" placeholder="username" id="username" name="username" required data-validation-required-message="Please enter your username.">
              <p class="help-block text-danger"></p>
              <input type="text" placeholder="password" id="password" name="password" required data-validation-required-message="Please enter your password.">
              <p class="help-block text-danger"></p>
          <br>
          <div id="success"></div>
          <input type="submit" class="button" id="sendMessageButton">
        </form>
      </div>
    </div>
  </div>

  <nav>
      <ul>
          <li><a href="/">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
  </nav>

</body>

</html>
